.edit-event-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: center;
    margin-top: 40px;
  }
  
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  label {
    font-size: 1em;
    color: #333333;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input {
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #12a184;
    outline: none;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .submit-button,
  .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button {
    background-color: #12a184;
    color: #ffffff;
  }
  
  .submit-button:hover {
    background-color: #0e8469;
  }
  
  .cancel-button {
    background-color: #e74c3c;
    color: #ffffff;
  }
  
  .cancel-button:hover {
    background-color: #c0392b;
  }
  
  .message {
    margin-top: 20px;
    color: #12a184;
    font-weight: bold;
  }
  
  .login-image {
    height: 50px;
    width: 50px;
    margin-right: 10px; /* เพิ่มระยะห่างระหว่างรูปภาพกับข้อความ */
  }
  .login-name {
    display: flex;
    align-items: center; /* จัดให้รูปภาพและข้อความอยู่ตรงกลางในแนวตั้ง */
    justify-content: center;
  }