<div class="button-container">
    <button class="action-button" (click)="tobook_Confirm()">ยืนยันการจองบูธ</button>
    <button class="action-button" (click)="toshow_users()">แสดงข้อมูลผู้ใช้</button>
    <button class="action-button" (click)="toshow_unpaid_users()">แสดงผู้ใช้ที่ยังไม่ชำระเงิน</button>
    <button class="action-button" (click)="toshow_paid_users()">แสดงผู้ใช้ที่ชำระเงินแล้ว</button>
    <button class="action-button" (click)=" show_pending_booth()">แสดงผู้ใช้ที่รอตรวจสอบ</button>
    <button class="action-button" (click)="toshow_bookings_booth()">รายละเอียดบูธที่ถูกจอง</button>
  </div>
  
