<div class="container">
    <div class="login-name">
        <img src="assets/image/booth1.png" alt="รูปภาพ" class="login-image">
        <h2 class="center">เพิ่มข้อมูลบูธ</h2>
      </div>
  
    <form (ngSubmit)="onSubmit()" class="booth-form">
      <div class="form-group">
        <label for="zoneName">ชื่อโซน:</label>
        <input
          type="text"
          id="zoneName"
          [(ngModel)]="booth.zone_name"
          name="zone_name"
          class="form-control"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="boothName">ชื่อบูธ:</label>
        <input
          type="text"
          id="boothName"
          [(ngModel)]="booth.booth_name"
          name="booth_name"
          class="form-control"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="boothSize">ขนาดบูธ:</label>
        <input
          type="text"
          id="boothSize"
          [(ngModel)]="booth.booth_size"
          name="booth_size"
          class="form-control"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="price">ราคา:</label>
        <input
          type="number"
          id="price"
          [(ngModel)]="booth.price"
          name="price"
          class="form-control"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="imageUrl">ลิงค์รูปภาพ:</label>
        <input
          type="url"
          id="imageUrl"
          [(ngModel)]="booth.image_url"
          name="image_url"
          class="form-control"
          required
        />
      </div>
  
      <div class="form-actions">
        <button type="submit" class="submit-button">บันทึก</button>
        <button type="button" class="cancel-button" (click)="onCancel()">ยกเลิก</button>
      </div>
    </form>
  
    <p *ngIf="message" class="success-message">{{ message }}</p>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
  